html, body {
	/*height: 100%;*/
	width: 100%;
	position: fixed;
  padding: 0;
	margin: 0;
	background: #fcf1ee;
	/*font-family: 'Helvetica Neue', arial, sans-serif;*/
	/*font-weight: 400;*/
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cacaca;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cacaca;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cacaca;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cacaca;
}

#app {
	height: 100%;
}
